/* DECLARAÇÃO DE VARIÁVEIS */
:root {--vermelho: #e50914; --preta: #141414;}
/* RESET */
* {margin: 0; padding: 0; box-sizing: border-box;}
/* DECLARAÇÕES UNIVERSAIS */
body {background: var(--preta); font-family: 'Arial', Times, serif; color: #ffffff;}
/* HEADER */
.container {display: flex; /* flex-direction: row */; align-items: center; justify-content: space-between; margin-left: 20px;}
.logo {color: var(--vermelho); font-family: 'Arial Black', Times; font-size: 40px; margin-left: 5px;}
header nav a {text-decoration: none; color: #aaaaaa; margin: 10px;}
header nav a:hover {color: #ffffff;}
/* FILME PRINCIPAL */
.filme-principal {font-size: 16px; background-image: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)), url(../imagens/house_of_cards.JPG); height: 500px; background-size: inherit; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;}
.conteudo-filme-principal {width: 70%; margin-left: 20px;}
.titulo {font-size: 45px; font-family: 'Trebuchet MS', Arial, sans-serif; margin-top: 15%;}
.descricao {margin-bottom: 25px; margin-top: 10px;}
.botao {background-color: rgba(0, 0, 0, .50); color: white; padding: 15px 30px; margin-right: 15px; font-size: 12px; border: none; cursor: pointer; transition: .6s ease all;}
.botao:hover {background-color: white; color: #000;}
.botao i {margin-right: 10px;}
/* CARROSSEL DOS FILMES */
.carrossel-filmes {margin-top: 15px;}
.box-filme {height: 100%; width: 100%; display: block;}